@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit',sans-serif;
}

body{
    background-color: rgb(255, 240, 240);
    color: black;
    line-height: 1.6;
}

nav{
    background-color: rgb(255, 240, 240);
    color: black;
    padding: 1rem  2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
}

nav .logo > img{
    height: 80px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 28px;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

nav a:hover{
    color:blue;
}

.header{
    text-align: center;
    padding: 30px;
    background-color:white;
}

.img-profile{
    width: 200px;
    border-radius: 0%;
    object-fit: cover;
    box-shadow:0 5px 5px 5px #c0c0c0;
    margin-bottom: 20px;
}

section{
    max-width:1200px;
    margin: 0 auto;
    padding: 20px 25px;
}

.two{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card{
    background:white;
    width: 550px;
    border-radius: 4%;
    overflow: hidden;
    box-shadow: 0px 2px 2px 2px rgb(212, 212, 212);
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h3{
    padding: 10px;
    font-size: 24px;
}

.card p{
    padding: 10px;
    font-size: 16px;
}